@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@200;400;600&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
  box-sizing: border-box;
}
/* mưa trái tim*/
.heart {
  position: fixed;
  font-size: 1.5rem;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards infinite;
}

@keyframes fall {
  from {
     transform: translateY(0vh) translateX(-10vw); 
  }
  to {
     transform: translateY(105vh) translateX(10vw); 
  }
} 


* {
    font-family: 'Be Vietnam', sans-serif;
}
h1  {
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
    color: aliceblue;
}
.but1, .but2 {
    background-color: #23a6d5;
    border-radius: 10px ;
    color: aliceblue;
    font-size: 30px;
}
h2{
    font-family: cursive;
    font-size: 40px;
    color:aliceblue;
}
h4 {
    color:aliceblue;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
}
#challen {
    font-size: 80px;
}
.container_box {
    display: none;
    text-align: center;
    padding: 70px;
}

html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .button>button {
    transition-duration: 0.4s;
    height: 3rem;
    background-color: #23a6d5;
    border-radius: 10px ;
    color: aliceblue;
    font-size: 30px;
  }
  
  .button>button:hover {
    background-color: #4CAF50;
    color: white;
  }
  .btn {
    transition-duration: 0.4s;
    /*
    height: 3rem;*/
    background-color: #23a6d5;
    border-radius: 10px ;
    display: none;
    color: aliceblue;
    font-size: 30px;
    float: left;
  }
  .btn2 {
    transition-duration: 0.4s;
    background-color: #23a6d5;
    border-radius: 10px ;
    display: none;
    float: right;
    margin-right: 15px;
    color: aliceblue;
    font-size: 30px;
    /*
    height: 3rem;*/
  }
  .btn:hover {
    background-color: #4CAF50;
    color: white;
  }
  .formcss {
      display: none;
      text-align: center;
      padding: 70px;
  }
  .final {
      display: none;
      text-align: center;
      padding: 70px;
  }
  .final>h1 {
      font-size: 160px;
  }
  .inputf {
      border-radius: 10px;
      height: 6rem;
      width: 35rem;
      font-size: 40px;
  }
  .rea {
      border-radius: 10px;
      height: 5rem;
      width: 12rem;
      background-color: aquamarine;
      color: black;
      font-size: 30px;
  }
  .rea:hover {
      background-color: #4CAF50;
      color: white;
  }
.fbtn {
    transition-duration: 0.4s;
    background-color: #23a6d5;
    border-radius: 10px ;
    color: aliceblue;
    font-size: 30px;
}
.fbtn:hover {
    background-color: #4CAF50;
    color: white;
}
.fbtnh1 {
    transition-duration: 0.4s;
    background-color: #23a6d5;
    border-radius: 10px ;
    color: aliceblue;
    font-size: 30px;
    float:left;
}
.fbtnh1:hover {
    background-color: #4CAF50;
    color: white;
}
.fbtnh2 {
    transition-duration: 0.4s;
    background-color: #23a6d5;
    border-radius: 10px ;
    color: aliceblue;
    font-size: 30px;
    float: right;
}
.fbtnh2:hover {
    background-color: #4CAF50;
    color: white;
}
.final h2 {
    font-size: 30px;
}
.final h4 {
    font-size: 80px;
}
#h2h2 {
    font-size: 40px
}
#h22 {
    font-size: 40px;
}
#h23 {
  font-size: 40px;
}
#h24 {
  font-size: 40px;
  display: none;
}

/* Build hộp quà */
.boxgift {
    text-align: center;
    padding: 70px;
    align-items: center;
    justify-content: center;
}
.boxgift1 {
  text-align: center;
  padding: 70px;
  align-items: center;
  display: none;
  justify-content: center;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box::before {
    content: "";
    width: 400px;
    height: 400px;
    background-color: #89cff0;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
  }    
  .box-body {
    position: relative;
    height: 200px;
    width: 200px;
    margin-top: 123.3333333333px;
    background-color: #cc231e;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(#762c2c,#ff0303);
  }
  .box-body .img{
    opacity: 0;
    transform: translateY(0%);
    transition: all 0.5s;
    margin: 0 auto;
    display: block;
  }
  .box-body:hover {
    cursor: pointer;
    -webkit-animation: box-body 1s forwards ease-in-out;
            animation: box-body 1s forwards ease-in-out;

  }
  .box-body:hover .img{
    opacity: 1;
    z-index: 0;
    transform: translateY(-157px);  
  }
  .box-body:hover .box-lid {
    -webkit-animation: box-lid 1s forwards ease-in-out;
            animation: box-lid 1s forwards ease-in-out;
  }
  .box-body:hover .box-bowtie::before {
    -webkit-animation: box-bowtie-left 1.1s forwards ease-in-out;
            animation: box-bowtie-left 1.1s forwards ease-in-out;
  }
  .box-body:hover .box-bowtie::after {
    -webkit-animation: box-bowtie-right 1.1s forwards ease-in-out;
            animation: box-bowtie-right 1.1s forwards ease-in-out;
  }
  .box-body::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50px;
    background: linear-gradient(#ffffff,#ffefa0)
  }
  .box-lid {
    position: absolute;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 90%;
    height: 40px;
    background-color: #cc231e;
    height: 40px;
    width: 220px;
    border-radius: 5%;
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
  }
  .box-lid::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50px;
    background: linear-gradient(#ffefa0,#fff)
    
  }
  .box-bowtie {
    z-index: 1;
    height: 100%;
  }
  .box-bowtie::before, .box-bowtie::after {
    content: "";
    width: 83.3333333333px;
    height: 83.3333333333px;
    border: 16.6666666667px solid rgb(205, 137, 182);
    border-radius: 50% 50% 0 50%;
    position: absolute;
    bottom: 99%;
    z-index: -1;
  }
  .box-bowtie::before {
    left: 50%;
    -webkit-transform: translateX(-100%) skew(10deg, 10deg);
            transform: translateX(-100%) skew(10deg, 10deg);
  }
  .box-bowtie::after {
    left: 50%;
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
            transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  
  @-webkit-keyframes box-lid {
    0%,
    42% {
      -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
              transform: translate3d(-50%, 0%, 0) rotate(0deg);
    }
    60% {
      -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
              transform: translate3d(-85%, -230%, 0) rotate(-25deg);
    }
    90%, 100% {
      -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
              transform: translate3d(-119%, 225%, 0) rotate(-70deg);
    }
  }
  
  @keyframes box-lid {
    0%,
    42% {
      -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
              transform: translate3d(-50%, 0%, 0) rotate(0deg);
    }
    60% {
      -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
              transform: translate3d(-85%, -230%, 0) rotate(-25deg);
    }
    90%, 100% {
      -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
              transform: translate3d(-119%, 225%, 0) rotate(-70deg);
    }
  }
  @-webkit-keyframes box-body {
    0% {
      -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
              transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
    25% {
      -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
              transform: translate3d(0%, 25%, 0) rotate(20deg);
    }
    50% {
      -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
              transform: translate3d(0%, -15%, 0) rotate(0deg);
    }
    70% {
      -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
              transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
  }
  @keyframes box-body {
    0% {
      -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
              transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
    25% {
      -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
              transform: translate3d(0%, 25%, 0) rotate(20deg);
    }
    50% {
      -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
              transform: translate3d(0%, -15%, 0) rotate(0deg);
    }
    70% {
      -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
              transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
  }
  @-webkit-keyframes box-bowtie-right {
    0%,
    50%,
    75% {
      -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
              transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
    }
    90%,
    100% {
      -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
              transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
      box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes box-bowtie-right {
    0%,
    50%,
    75% {
      -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
              transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
    }
    90%,
    100% {
      -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
              transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
      box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
    }
  }
  @-webkit-keyframes box-bowtie-left {
    0% {
      -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
              transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
    50%,
    75% {
      -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
              transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    }
    90%,
    100% {
      -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
              transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
  }
  @keyframes box-bowtie-left {
    0% {
      -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
              transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
    50%,
    75% {
      -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
              transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    }
    90%,
    100% {
      -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
              transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
  }
  /* Ve Rose*/
  .img12 {
    padding: 70px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
  }
  