* {
    font-family: 'Be Vietnam', sans-serif;
}
h1  {
    font-family: 'Amatic SC', cursive;
    font-size: 120px;
    color: aliceblue;
}
.but1, .but2 {
   width: 30rem;
   font-size: 20px;
   
}
h2{
    font-size: 40px;
    color:aliceblue;
}
h4 {
    color:aliceblue;
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
}
#challen {
    font-size: 110px;
}
.container {
    text-align: center;
    padding: 70px;
}

html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .button>button {
    transition-duration: 0.4s;
    height: 3rem;
    background-color: #23a6d5;
    border-radius: 10px ;
    color: aliceblue;
    font-size: 30px;
  }
  
  .button>button:hover {
    background-color: #4CAF50;
    color: white;
  }
  .btn {
    transition-duration: 0.4s;
    height: 3rem;
    width: 35rem;
    background-color: #23a6d5;
    border-radius: 10px ;
    display: none;
    color: aliceblue;
    font-size: 30px;
  }
  .btn2 {
    transition-duration: 0.4s;
    background-color: #23a6d5;
    border-radius: 10px ;
    display: none;
    float: right;
    margin-right: 15px;
    color: aliceblue;
    font-size: 30px;
    height: 3rem;
    width: 35rem;
  }
  .btn:hover {
    background-color: #4CAF50;
    color: white;
  }
  .formcss {
      display: none;
      text-align: center;
      padding: 70px;
  }
  .final {
      display: none;
      text-align: center;
      padding: 70px;
  }
  .final>h1 {
      font-size: 160px;
  }
  .inputf {
      border-radius: 10px;
      height: 6rem;
      width: 35rem;
      font-size: 40px;
  }
  .rea {
      border-radius: 10px;
      height: 5rem;
      width: 12rem;
      background-color: aquamarine;
      color: black;
      font-size: 30px;
  }
  .rea:hover {
      background-color: #4CAF50;
      color: white;
  }
.fbtn {
    transition-duration: 0.4s;
    background-color: #23a6d5;
    border-radius: 10px ;
    color: aliceblue;
    font-size: 30px;
}
.fbtn:hover {
    background-color: #4CAF50;
    color: white;
}
.fbtnh1 {
    transition-duration: 0.4s;
    background-color: #23a6d5;
    border-radius: 10px ;
    color: aliceblue;
    font-size: 30px;
    float:left;
}
.fbtnh1:hover {
    background-color: #4CAF50;
    color: white;
}
.fbtnh2 {
    transition-duration: 0.4s;
    background-color: #23a6d5;
    border-radius: 10px ;
    color: aliceblue;
    font-size: 30px;
    float: right;
}
.fbtnh2:hover {
    background-color: #4CAF50;
    color: white;
}
.final h2 {
    font-size: 30px;
}
.final h4 {
    font-size: 80px;
}
#h2h2 {
    font-size: 27px
}
#heart {
    font-size: 160px;
}
#h22 {
    font-size: 40px;
}

@media screen and (max-width: 550px) {
    .container {
        padding: 10px;
    }
    .but1, .but2 {
        width: 18rem;
        
    }
    h1 {
        font-size: 85px
    }
    .btn {
        width: 18rem;
    }
    .btn2 {
        width: 18rem;
    }
    .formcss {
        padding: 15px;
    }
    #challen {
        font-size: 60px;
    }
    .final h1 {
        font-size: 60px;
    }
    .final h2 {
        font-size: 30px;
    }
    .final h4 {
        font-size: 90px;
    }
    #h2h2 {
        font-size: 25px;
    }
    #h22 {
        font-size: 32px;
    }
}

body {background-color: black;}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$strokeColor: grey;
$heartColor: #db3434;
$size: 300px; // change this to manipulate overall size
$totalAnim: 7s;
$delay: .1s;
$squareLen: 240;
$circleLen: 188.522;
$heartLen: 308.522;
$svgSize: 90px;
$circleW: 60px;

.heart-loader {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-top: $size/-2;
  width: $size;
  height: $size;
  overflow: visible;
  
  &__group {
    transform-origin: 0 $svgSize;
    animation: group-anim $totalAnim $delay infinite;
  }
  
  &__square {
    stroke: $strokeColor;
    stroke-dasharray: $squareLen, $squareLen;
    stroke-dashoffset: $squareLen;
    animation: square-anim $totalAnim $delay infinite;
  }
  
  &__circle {
    stroke: $strokeColor;
    stroke-dasharray: $circleLen, $circleLen;
    stroke-dashoffset: $circleLen;
    transform-origin: $circleW $circleW/2;
    
    &.m--left {
      animation: left-circle-anim $totalAnim $delay infinite;
    }
    
    &.m--right {
      animation: right-circle-anim $totalAnim $delay infinite;
    }
  }
  
  &__heartPath {
    stroke: $heartColor;
    fill: transparent;
    stroke-dasharray: $heartLen, $heartLen;
    stroke-dashoffset: $heartLen;
    animation: heart-anim $totalAnim $delay infinite;
  }
}
@keyframes square-anim {
  12% {
    stroke-dashoffset: 0;
  }
  43% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes left-circle-anim {
  12% {
    stroke-dashoffset: $circleLen;
  }
  31% {
    stroke-dashoffset: 0;
    transform: translateY(0);
  }
  41% {
    stroke-dashoffset: 0;
    transform: translateY($circleW/-2);
  }
  43% {
    stroke-dashoffset: 0;
    transform: translateY($circleW/-2);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    transform: translateY($circleW/-2);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    transform: translateY($circleW/-2);
    opacity: 0;
  }
}
@keyframes right-circle-anim {
  12% {
    stroke-dashoffset: $circleLen;
  }
  31% {
    stroke-dashoffset: 0;
    transform: translateX(0);
  }
  41% {
    stroke-dashoffset: 0;
    transform: translateX($circleW/2);
  }
  43% {
    stroke-dashoffset: 0;
    transform: translateX($circleW/2);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    transform: translateX($circleW/2);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    transform: translateX($circleW/2);
    opacity: 0;
  }
}
@keyframes group-anim {
  43% {
    transform: rotate(0);
  }
  54% {
    transform: rotate(-45deg);
  }
  90% {
    transform: rotate(-45deg);
    opacity: 1;
  }
  97% {
    transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: rotate(-45deg);
    opacity: 0;
  }
}
@keyframes heart-anim {
  55% {
    stroke-dashoffset: $heartLen;
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  87% {
    stroke-dashoffset: 0;
    fill: $heartColor;
  }
  100% {
    stroke-dashoffset: 0;
    fill: $heartColor;
  }
}

.other {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  width: 100%;
  text-align: right;
  
  &__link {
    font-size: 1.3rem;
    margin: 0 1rem;
  }
}
